
Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}

<br />
<br />
<p> Powered by <a href="http://octopress.org">Octopress</a> & <a href="http://heroku.com">Heroku</a></p>

<!-- Add these tags to the HEAD section of your page. -->



<script src="http://coderwall.com/javascripts/jquery.coderwall.js"></script>
 
<!-- You also need to place a container where you'd like the Coderwall badges to render. -->
<br />
<br />
<section class="coderwall" data-coderwall-username="bikeatefoucault" data-coderwall-orientation="horizontal"></section>